
        <div class="panel">
            <div class="panel-heading">
                メッセージ一覧
            </div>
            
            <div class="panel-body">
            <% @messages.each do |message| %>
            <span class="label label-info"><%= message.name %></span><br>
            <%= message.body %>    
            <br>
            <% end %>
        
        <hr>
        <form class="form-horizontal">
        <%= form_for(Message.new) do |f| %>
        <row>
            <label for="name" class="col-sm-2 control-label">名前：</label>
             <div class="col-sm-10">
                <%= f.text_field :name %>
            </div>
        </row>
        <row>
            <label for="body" class="col-sm-2 control-label">内容：</label>
            <div class="col-sm-10">
                <%= f.text_area :body,:size=>"30x5" %>
            </div>
        </row>
        </row>
            <div class="col-sm-offset-2 col-sm-10">
                <%= f.submit %>
            </div>
        </row>
        
        <% end %>
        </form>
            </div>
        </div>
